In [2]:
# Consider following code to answer further questions:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
# BY USING ABOVE DATA....

# Q1. Write a code to print the data present in the second row of the dataframe, df.

nth_row = 1
x=df.iloc[nth_row]
x

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans:-  loc is typically used for label indexing and can access multiple columns,
  while . iloc is used for integer indexing.

In [4]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].
# Did you observe any difference in both the outputs? If so then explain it.

# Consider the below code to answer further questions:# 



import pandas as pd

import numpy as np

columns= ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1
new_indices = [3,0,1,2]
new_df = df.reindex(new_indices)
print(new_df,new_df.iloc[2],df.iloc[2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6 course_name    Machine Learning
duration                      3
Name: 1, dtype: object course_name    Big Data
duration              6
Name: 2, dtype: object

In [5]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:

# (i) 	mean of each and every column present in the dataframe.

# (ii) standard deviation of column, ‘column_2’

df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.431821  0.317009  0.908903  0.859466  0.962919  0.650876
2  0.952811  0.410837  0.683722  0.747530  0.678884  0.705549
3  0.870959  0.158308  0.164101  0.600979  0.491963  0.105025
4  0.782885  0.868396  0.760972  0.908111  0.903924  0.493932
5  0.947790  0.801368  0.651556  0.365881  0.606991  0.256647
6  0.524164  0.206729  0.212960  0.128885  0.368534  0.316718

In [6]:
# (i)
df1[columns].mean()

column_1    0.751738
column_2    0.460441
column_3    0.563702
column_4    0.601809
column_5    0.668869
column_6    0.421458
dtype: float64

In [7]:
# (ii) 

df1['column_2'].std()

0.30375843079130277

In [8]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.

# If you are getting errors in executing it then explain why.

# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

df1.loc[2,'column_2'] = "string"

df1

df1['column_2'].mean()



# Ans : Here is error because in column_2 we replaced string fo we cannot find mean

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?



Ans: Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value.
The group by aggregate function can be used to partition and group the entire data frame by some column. 
We can specify the column name in the parameter of the pandas

In [ ]:
# Q7. Write a code to print only the current month and year at the time of answering this question.

# [Hint: Use pandas.datetime function]


import pandas as pd
from datetime import datetime

# for getting current date and time
now = datetime.now()

# for timestamp
timestamp = pd.Timestamp(now)

# for extracting month and year

current_month = timestamp.month
current_year = timestamp.year


print(current_month,current_year)

In [ ]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.



import pandas as pd

date1 = input("First date:")
date2 = input("second date:")

# converting the input to pandas date time object
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the time difference using pandas time delta

time_diff = date2 - date1

# extract the days, hours , minutes from the differences

days = time_diff.days
hours = time_diff.seconds // 3600                               
minutes = (time_diff.seconds // 60) % 60

print(days , hours , minutes)

In [5]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.

import pandas as pd
file_path = input('Enter the file path:')

df = pd.read_csv(file_path)

column_name = input('Enter the name of the column to convert in categorical:')
category_order = input("Enter the category order (comma - seperated):").split(' ')

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

df_sorted = df.sort_values(column_name)



print(df_sorted)

Enter the file path: table.csv
Enter the name of the column to convert in categorical: Totals.1
Enter the category order (comma - seperated): 4

    Unnamed: 0                         Totals Totals.1  Totals.2  Totals.3  \
0            0                          Games      NaN    Career    Active
1            1                 Minutes Played      NaN    Career    Active
2            2                    Field Goals      NaN    Career    Active
3            3            Field Goal Attempts      NaN    Career    Active
4            4               2-Pt Field Goals      NaN    Career    Active
5            5       2-Pt Field Goal Attempts      NaN    Career    Active
6            6               3-Pt Field Goals      NaN    Career    Active
7            7       3-Pt Field Goal Attempts      NaN    Career    Active
8            8             Field Goals Missed      NaN    Career    Active
9            9                    Free Throws      NaN    Career    Active
10          10            Free Throw Attempts      NaN    Career    Active
11          11             Offensive Rebounds      NaN    Career    Active
12          12             Defensive Rebounds      NaN    Career    Active
13          13                 Total Rebounds      NaN    Career    Active
14          14                        Assists      NaN    Career    Active
15          15                         Steals      NaN    Career    Active
16          16                         Blocks      NaN    Career    Active
17          17                      Turnovers      NaN    Career    Active
18          18                 Personal Fouls      NaN    Career    Active
19          19                         Points      NaN    Career    Active
20          20                 Triple-Doubles      NaN    Career    Active
21          21                       Shooting      NaN  Shooting  Shooting
22          22                 Field Goal Pct      NaN    Career    Active
23          23            2-Pt Field Goal Pct      NaN    Career    Active
24          24            3-Pt Field Goal Pct      NaN    Career    Active
25          25                 Free Throw Pct      NaN    Career    Active
26          26                       Per Game      NaN  Per Game  Per Game
27          27               Minutes Per Game      NaN    Career    Active
28          28                Points Per Game      NaN    Career    Active
29          29              Rebounds Per Game      NaN    Career    Active
30          30               Assists Per Game      NaN    Career    Active
31          31                Steals Per Game      NaN    Career    Active
32          32                Blocks Per Game      NaN    Career    Active
33          33                       Advanced      NaN  Advanced  Advanced
34          34       Player Efficiency Rating      NaN    Career    Active
35          35              True Shooting Pct      NaN    Career    Active
36          36       Effective Field Goal Pct      NaN    Career    Active
37          37          Offensive Rebound Pct      NaN    Career    Active
38          38          Defensive Rebound Pct      NaN    Career    Active
39          39              Total Rebound Pct      NaN    Career    Active
40          40                     Assist Pct      NaN    Career    Active
41          41                      Steal Pct      NaN    Career    Active
42          42                      Block Pct      NaN    Career    Active
43          43                   Turnover Pct      NaN    Career    Active
44          44                      Usage Pct      NaN    Career    Active
45          45               Offensive Rating      NaN    Career    Active
46          46               Defensive Rating      NaN    Career    Active
47          47           Offensive Win Shares      NaN    Career    Active
48          48           Defensive Win Shares      NaN    Career    Active
49          49                     Win Shares      NaN    Career    Active
50          50      Win Shares Per 48 Minutes      NaN    Career    Active
51          51                 Box Plus/Minus      NaN    Career    Active
52          52       Offensive Box Plus/Minus      NaN    Career    Active
53          53       Defensive Box Plus/Minus      NaN    Career    Active
54          54  Value Over Replacement Player      NaN    Career    Active

       Totals.4      Totals.5             Totals.6     Totals.7
0   Progressive  Year-by-Year  Year-by-Year Top 10          NaN
1   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
2   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
3   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
4   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
5   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
6   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
7   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
8   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
9   Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
10  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
11  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
12  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
13  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
14  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
15  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
16  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
17  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
18  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
19  Progressive  Year-by-Year  Year-by-Year Top 10  Single Game
20  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
21     Shooting      Shooting             Shooting     Shooting
22  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
23  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
24  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
25  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
26     Per Game      Per Game             Per Game     Per Game
27  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
28  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
29  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
30  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
31  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
32  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
33     Advanced      Advanced             Advanced     Advanced
34  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
35  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
36  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
37  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
38  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
39  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
40  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
41  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
42  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
43  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
44  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
45  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
46  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
47  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
48  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
49  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
50  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
51  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
52  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
53  Progressive  Year-by-Year  Year-by-Year Top 10          NaN
54  Progressive  Year-by-Year  Year-by-Year Top 10          NaN

In [2]:
# Q10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.

import pandas as pd
import matplotlib.pyplot as plt


file_path = "https://www.kaggle.com/knightbearr/sales-product-data"
df = pd.read_csv(file_path)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 2

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [2]:
# Sol
import pandas as pd
data = {"Student ID" : [1,2,3,4,5,6,7,8,9,10] , "Test Score" : [85,90,80,75,85,82,78,85,90,85]}

df = pd.DataFrame(data)
df

df.to_csv('student_data.csv')

df1 = pd.read_csv('student_data.csv')
df1

mean=df1['Test Score'].mean()
median=df1['Test Score'].median()
mode = df1['Test Score'].mode().tolist()

pd.DataFrame({'Statistic': ["Mean" , "Median" , "Mode"], 'Value' : [mean , median , mode]})

  Statistic Value
0      Mean  83.5
1    Median  85.0
2      Mode  [85]